* {
	font-family:initial;
	font-size:x-large;
	color:black
}

body {
    background: #c7b39b url(../picture/main.jpg); 
    color: #fff;
   }

.mainmenu {
    list-style:none;
	display:inline-block
}

.mainmenu__item {
    position:relative;
    float:left
}

a {
    text-decoration:none;
    padding:4px 50px;
	font-size:-webkit-xxx-large
}
.mainmenu__item a:hover {
    background-color:#ff0000;
    color:#ffffff
}
.mainmenu__item__active{
	pointer-events: none
}
.mainmenu__item__active a{
	color:gray
}

.logo {
	display:inline-block;
	margin:20px;
	margin-top:40px;
	margin-right:10%;
	float:left
}

.logo a
{
	color: #ff0000;
	font-weight:900
}

.toplist 
{
	margin-left:13%
}
.startgame a
{
	background-color:#ff0000;
	margin-top:20%;
	font-weight:500;
	border-width: 7px;
	border-color:#ff0000;
	border-style:inset
}
.startgame
{
	color:#ff0000;
	margin-top:25%;
	border-style:inset;
	margin-left:5%
}

.table {
border-spacing: 0 10px;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}
.table__header {
padding: 10px 20px;
background: #ff0000;
color: #000000;
border-right: 2px solid; 
font-size: 0.9em;
}

td {
vertical-align: middle;
padding: 10px;
font-size: 14px;
text-align: center;
border-top: 2px;
border-bottom: 2px;
border-right: 2px;
}
.pole{
    position: relative;
    width: 100%;
    height: 50%;
    background: #0B580B;
}
.ball{
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 2em;
}